<header>
  <nav class="navbar navbar-expand-md" style="background-color: #101820ff">
    <div class="navbar-brand" style="color: white">My App</div>
    <ul class="navbar-nav" *ngIf="this.userLogged">
      <li><a routerLink="/welcome/kshitij" class="nav-link">Home</a></li>
      <li><a routerLink="/todos" class="nav-link">ToDo's</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!this.userLogged">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li *ngIf="this.userLogged">
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>