<span>Tasks To Do:</span>
<br>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
  </ng-container>

  <ng-container matColumnDef="done">
    <th mat-header-cell *matHeaderCellDef>Is Completed?</th>
    <td mat-cell *matCellDef="let element">{{ element.done }}</td>
  </ng-container>

  <ng-container matColumnDef="targetDate">
    <th mat-header-cell *matHeaderCellDef>Target Date</th>
    <td mat-cell *matCellDef="let element">{{ element.targetDate | date | uppercase}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
